*,
*::after,
*::before {
	box-sizing: border-box;
}

/* declaration des variables root */
:root {
	--border: 2px solid;
	--rounded: 0.5rem;
	--color-primary: #ee5057;
	--color-secondary: #ffff;
	--other-color: #e4e4e4;
	--color-tertiaire: #000000;
	--transition: all 1s;
	--shadow: 0 4px 8px 0 #0000006a, 0 6px 20px 0 #00000082;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	margin: 0;
	position: relative;
}

.container {
	max-width: 1400px;
	margin-inline: auto;
}

/* header style css start */
.header {
	background-color: var(--color-secondary);
	padding-block: 0.5rem;
	box-shadow: var(--shadow);
	position: sticky;
	top: 0;
	font-size: 1rem;
	font-weight: 700;
	z-index: 100;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding-top: 1rem;
}

.header-left {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	text-decoration: none;
	color: var(--color-tertiaire);
	font-size: 1.5rem;
}

.header-right a {
	text-decoration: none;
	margin-inline: 1rem;
	color: var(--color-tertiaire);
	padding: 1rem 1.5rem;
}

.header-right a:hover {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

.header-right a.active {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}
/* header style css end */

.rounded {
	border-radius: var(--rounded);
}

/* main style css start */

.main-section {
	background-image: linear-gradient(#00000080, #00000080), url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 9rem;
	height: 90vh;
}

.col-text-center {
	color: var(--color-secondary);
	text-align: center;
	font-size: 1.5rem;
	padding: 5rem;
}

.section-subtitle {
	margin: 3rem;
}

.button-link {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	border: 2px solid var(--color-primary);
	transition: var(--transition);
}

.button-link:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

div.button {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.article-image {
	background-image: url("../img/bg-img-2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem;
	margin-bottom: 1rem;
}

.row-content {
	display: flex;
	gap: 2rem;
}

.row-content .col-article {
	padding: 1rem;
	flex-basis: calc((100% / 3));
	text-align: center;
}

.col-article:hover {
	z-index: 1;
	transform: scale(1);
	box-shadow: var(--shadow);
	transition: var(--transition);
}

div.icon {
	display: flex;
	justify-content: center;
}

.col-article span {
	color: var(--color-secondary);
	background-color: var(--color-primary);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.link-button {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	border: 2px solid var(--color-primary);
	transition: var(--transition);
}

.btn-primary {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	border: 2px solid var(--color-primary);
	transition: var(--transition);
}

div.media-button,
.button-media {
	margin-top: 1.5rem;
}

.link-button:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.btn-primary:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.article-item {
	display: flex;
	row-gap: 1rem;
	column-gap: 2rem;
}

.item {
	padding: 1rem;
}

.tm-article-title {
	margin-block: 0.5rem;
}

.media-body p {
	margin-block: 0.5rem;
}

.tm-recommended-container {
	display: flex;
	column-gap: 1rem;
	row-gap: 2rem;
}

.row-content-media {
	display: flex;
	row-gap: 2rem;
	column-gap: 1rem;
}

.tm-section-title {
	color: var(--color-primary);
}

article.media {
	margin-bottom: 2rem;
}

article.media img {
	float: left;
	margin-right: 1rem;
}

.tm-recommended-item {
	display: flex;
	gap: 2rem;
	color: var(--color-tertiaire);
	margin-bottom: 2rem;
}

.tm-recommended-item:hover {
	text-decoration: none;
	color: var(--color-primary);
}

footer.tm-bg {
	text-align: center;
	margin: 2rem;
	padding: 1rem, 2rem;
}

/* main style home end */

.container-form {
	text-align: center;
}

.newsletter {
	display: flex;
	column-gap: 1rem;
	flex-basis: 100%;
}

.newsletter input[type=text] {
	flex-basis: 80%;
	padding: 1rem;
	border: 2px solid var(--color-primary);
}

.newsletter input[type=text]:focus {
	outline: none;
}

.newsletter button[type=submit] {
	flex-basis: 20%;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border: 2px solid var(--color-primary);
	transition: var(--transition);
	font-weight: 700;
}

.newsletter button[type=submit]:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.newsletter .buttoninput[type=submit] {
	border: none;
	background-color: var(--color-primary);
	padding: 2rem, 1.5rem;
	color: var(--color-secondary);
}

.link-footer {
	color: var(--color-primary);
	text-decoration: none;
}

/* style css about */

.about-media {
	text-align: center;
	margin: 2rem;
}

video {
	padding-top: 2rem;
	margin-bottom: 2rem;
}

.tm-bg-video {
	text-align: center;
}

.tmVideo {
	max-width: 100%;
	height: auto;
	margin-inline: auto;
}

/* style css reserve */
.tm-section {
	padding-top: 5rem;
}

.section-reserve h3 {
	margin-block: 3rem;
	text-align: center;
	color: var(--color-primary);
	font-size: 1.5rem;
}

.form-row,
.form-row-content {
	display: flex;
	flex-basis: 100%;
	gap: 5rem;
}

.form-group,
.form-group-select {
	flex-basis: calc((100% / 3) - 5rem);
	margin-bottom: 2rem;
}

.form-group input {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 2.5rem;
	border: 2px solid var(--color-primary);
}

.form-group-select .form-control,
textarea {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 3rem;
	border: 2px solid var(--color-primary);
	background-color: var(--color-secondary);
}

.form-group .form-control-lg,
textarea {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 1rem;
	border: 2px solid var(--color-primary);
	background-color: var(--color-secondary);
}

.form-group input:focus {
	outline: 1px solid #df3841;
}

textarea:focus {
	outline: 1px solid #df3841;
}

.form-group-select,
.form-group {
	position: relative;
}

.form-group i {
	position: absolute;
	left: 2%;
	top: 15%;
}

.form-group-select i {
	position: absolute;
	left: 2%;
	top: 15%;
}

.button-reserve {
	display: flex;
	justify-content: space-between;
	padding-right: 2rem;
	row-gap: 2rem;
}

.button-reserve a {
	color: var(--color-tertiaire);
	padding-right: 2.8rem;
}

.button-reserve a:hover {
	color: var(--color-primary);
	text-decoration: none;
}

footer.tm-bg {
	margin-top: 10rem;
}

footer.tm-contact {
	text-align: center;
	margin-top: 8rem;
}

.row-contact {
	display: flex;
	gap: 2rem;
	flex-basis: 100%;
	margin-top: 5rem;
}

.col-contact {
	flex-basis: calc((100% / 2) - 2rem);
}