*,
*::after,
*::before {
	box-sizing: border-box;
}

/* IMPORT DU FONTS FACES POPPINS */

@import url(fonts.css);

/* VARIABLES ROOT DEFAULT */
:root {
	--border: 2px solid;
	--rounded: 0.5rem;
	--color-primary: #ee5057;
	--color-secondary: #ffff;
	--other-color: #e4e4e4;
	--color-tertiaire: #000000;
	--transition: all 1s;
	--shadow: 0 4px 8px 0 #0000006a, 0 6px 20px 0 #00000082;
	scroll-behavior: smooth;
}

html {
	animation: fadeInUp 2s normal;
}

/* CLASSES UTILITAIRES */

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.z-1 {
	z-index: 1;
}

.z-100 {
	z-index: 100;
}

.fs-1 {
	font-size: 1rem;
}

.fs-2 {
	font-size: 1.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding-inline: 2rem;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.fw-bold {
	font-weight: 700;
}

hr {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

/* CSS TO APPLY IN THE BODY */

body {
	font-family: 'Poppins', 'Arial, Helvetica, sans-serif';
	font-weight: 500;
	margin: 0;
	position: relative;
}

.container {
	max-width: 1400px;
	margin-inline: auto;
}

/* HEADER STYLE CSS START */

.header {
	background-color: var(--color-secondary);
	box-shadow: var(--shadow);
	position: sticky;
	top: 0;
	height: 100px;
}

.header-left {
	gap: 0.5rem;
	text-decoration: none;
	color: var(--color-tertiaire);
	font-size: 1.5rem;
	text-transform: uppercase;
}

.header-left:hover {
	transition: var(--transition);
	transform: scale(1.2);
}

.header-right {
	gap: 0.5rem;
}

.header-right a {
	text-decoration: none;
	color: var(--color-tertiaire);
	padding: 2rem;
	transition: var(--transition);
}

.header-right a:hover {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

.header-right a.active {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

.toggle-button {
	display: none;
	flex-direction: column;
	cursor: pointer;
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
	padding-block: 0.2rem;
	padding-inline: 0.8rem;
	border-radius: var(--rounded);
}

.toggle-button a svg {
	color: var(--color-primary);
}


/* HEADER STYLE CSS END */

.rounded {
	border-radius: var(--rounded);
}

.icon, svg,
.date {
	color: var(--color-primary);
}

.col a {
	color: var(--color-primary);
	transition: var(--transition);
}
.col a:hover {
	color: var(--color-tertiaire);
}

/* MAIN HOME STYLE CSS START */

.main-section {
	background-image: linear-gradient(#00000080, #00000080), url("../img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.col-text-center {
	color: var(--color-secondary);
	text-align: center;
	font-size: 1.5rem;
	padding: 5rem;
}

.section-subtitle {
	margin-bottom: 10rem;
}

.startButton {
	display: inline-block;
	animation: ScaleInfinite 3s infinite;
}

.button-link {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	border: 2px solid var(--color-primary);
	transition: var(--transition);
}

.button-link:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

div.button {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.article-image {
	background-image: url("../img/bg-img-2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem;
	margin-bottom: 2rem;
}

.row-content {
	gap: 2rem;
}

.row-content .col-article {
	padding: 1rem;
	flex-basis: calc((100% / 3));
}

.col-article:hover {
	z-index: 1;
	transform: scale(1);
	box-shadow: var(--shadow);
	transition: var(--transition);
}

.link-button {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	border: 2px solid var(--color-primary);
	transition: var(--transition);
}

.btn-primary {
	text-decoration: none;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	border: 2px solid var(--color-primary);
	transition: var(--transition);
}

div.media-button,
.button-media {
	margin-top: 1.5rem;
}

.link-button:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.btn-primary:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.article-item {
	flex-basis: 100%;
	margin-bottom: 2rem;
}

.item {
	flex-basis: calc((100% / 3));
}

.tm-article-pad {
	padding: 1rem;
}

.tm-article-title {
	margin-block: 0.5rem;
}

article.media img {
	float: left;
	margin-right: 1rem;
}

footer.tm-bg {
	text-align: center;
	margin: 2rem;
	padding: 1rem, 2rem;
}

/* MAIN STYLE CSS END */


.link-footer {
	color: var(--color-primary);
	text-decoration: none;
}

.link-footer:hover {
	text-decoration: 2px solid underline;
}

/* STYLE CSS ABOUT START */

.about-media {
	background-image: url(../img/bg-img-3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--color-secondary);
	padding: 8rem;
}


/* STYLE CSS ABOUT END */

/* STYLE CSS RESERVE AND CONTACT START */
.section-reserve h3 {
	margin-block: 3rem;
	font-size: 1.5rem;
}

.form-row,
.form-row-content {
	flex-basis: 100%;
	gap: 5rem;
}

.form-group,
.form-group-select {
	flex-basis: calc((100% / 3) - 5rem);
	margin-bottom: 2rem;
}

.form-group input {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 2.5rem;
	border: 2px solid var(--color-primary);
}

.form-group-select .form-control,
textarea {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 3rem;
	border: 2px solid var(--color-primary);
	background-color: var(--color-secondary);
}

.form-group .form-control-lg,
textarea {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 1rem;
	border: 2px solid var(--color-primary);
	background-color: var(--color-secondary);
}

.form-group input:focus {
	outline: 1px solid var(--color-primary);
}

textarea:focus {
	outline: 1px solid var(--color-primary);
}

.form-group,
.form-group-select {
	position: relative;
}

.form-group svg, .icons {
	color: var(--color-primary);
	position: absolute;
	top: 20%;
	left: 3%;
}

.form-group-select svg {
	color: var(--color-primary);
	position: absolute;
	top: 20%;
	left: 3%;
}

.button-reserve {
	padding-right: 2rem;
	row-gap: 2rem;
}

.button-reserve a {
	color: var(--color-tertiaire);
	padding-right: 2.8rem;
}

.button-reserve a:hover {
	color: var(--color-primary);
	text-decoration: none;
}

/* STYLE CSS RESERVE AND CONTACT END */

/* STYLE CSS FOOTER HOME, ABOUT, RESERVE AND CONTACT START */

footer.tm-bg {
	margin-top: 3rem;
	font-weight: 700;
}

footer.tm-contact {
	margin-top: 4rem;
	margin-bottom: 3rem;
}


.col-contact {
	flex-basis: calc((100% / 2) - 2rem);
	margin-bottom: 2rem;
}

span.star {
	color: var(--color-primary);
}

/* STYLE CSS FOOTER HOME, ABOUT, RESERVE AND CONTACT END */


/* MEDIA QUERIES WITH THE DIFFERENT MODE : TABLETTE AND MOBILE  */

/* MODE TABLETTE RESPONSIVE */

@media screen and (max-width: 992px) {

	.container {
		max-width: 580px;
		margin-inline: auto;
	}

	/* HEADER START STYLE CSS RESPONSIVE */

	.header {
		padding-top: 1rem;
		height: 200px;
	}

	.header .container {
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		font-size: 0.5rem;
	}

	.header-left {
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		gap: 0;
		font-size: 1.5rem;
	}

	.header-right {
		display: flex;
		justify-content: center;
		flex-flow: row nowrap;
		font-size: 1rem;
	}

	.header-right a {
		border: none;
		margin: 0;
		padding: 0.9rem 2rem;
	}

	/* HEADER END STYLE CSS RESPONSIVE */

	/* MAIN HOME START STYLE CSS RESPONSIVE */

	div.col-text-center {
		text-align: center;
		font-size: 1.2rem;
		padding-block: 4rem;
		padding-inline: 2rem
	}

	.col-text-center .button-link {
		font-size: 1rem;
	}

	.article-item {
		flex-flow: column wrap;
		align-items: center;
		gap: 2rem;
	}

	.article-item img {
		max-width: 90%;
		height: auto;
	}

	.form-row,
	.form-row-content {
		flex-flow: column wrap;
		gap: 0;
	}

	.form-group,
	.form-group-select {
		flex-basis: calc((100% / 2) - 5rem);
		margin-bottom: 2rem;
	}

	.row-content {
		flex-flow: column wrap;
		gap: 2rem;
	}

	/* MAIN RESERVE START STYLE CSS RESPONSIVE */

	.button-reserve,
	.button-reserve a {
		font-weight: 700;
		padding-right: 0rem;
	}

	.form-group-button button.btn-primary {
		font-weight: 700;
	}

	.form-group svg, .icons {
		color: var(--color-primary);
		position: absolute;
		top: 10%;
		left: 2%;
	}

	.form-group-select svg, .icons {
		color: var(--color-primary);
		position: absolute;
		top: 10%;
		left: 2%;
	}

	/* MAIN RESERVE END STYLE CSS RESPONSIVE */

}

/* MODE MOBILE*/
@media screen and (max-width: 768px) {

	.container {
		max-width: 350px;
		margin-inline: auto;
	}

	/* RESPONSIVE MOBILE MODE CSS START HEADER */

	.header {
		padding-top: 1rem;
		z-index: 100;
		height: 90px;
	}

	.header .container {
		display: flex;
		justify-content: space-between;
		flex-flow: row nowrap;
		font-size: 0.5rem;
		position: relative;

	}

	.header-left {
		display: flex;
		justify-content: center;
		flex-flow: row nowrap;
	}


	.header-right {
		overflow: hidden;
		display: none;
		float: right;
		position: absolute;
		left: 0%;
		top: 100%;
		width: 100%;
		padding-top: 0.9rem;
		z-index: 0;
		background-color: var(--color-secondary);
		border: var(--rounded);
		animation: mobileNav 2s normal;
		transition: all 3s;
	}

	.header-right a {
		float: none;
		display: block;
		width: 100%;
	}

	.toggle-button {
		display: block;
		z-index: 100;
	}

	.toggle-button a span {
		color: var(--color-primary);
		z-index: 100;
	}

	/* RESPONSIVE CSS MODE MOBILE HEADER END */


	/* RESPONSIVE CSS MODE MOBILE MAIN START */

	.main-section {
		height: 600px;
	}

	div.col-text-center {
		text-align: center;
		font-size: 1rem;
		padding-block: 2rem;
		padding-inline: 0rem;
	}

	.section-subtitle {
		margin-bottom: 2rem;
	}

	.article-image {
		padding: 2rem;
		margin-bottom: 1rem;
	}

	.article-item {
		flex-flow: column wrap;
		align-items: center;
	}

	.item {
		text-align: center;
	}

	.row-content {
		flex-flow: column wrap;
		gap: 1rem;
		padding: 0;
	}

	article.media img {
		float: none;
	}

	.about-media {
		padding: 4rem;
	}

	.col-rounded button.btn-primary {
		width: 100%;
	}

	/* RESPONSIVE CSS MODE MOBILE MAIN START */


	/* RESPONSIVE CSS MODE MOBILE CONTACT START */

	.row-contact {
		flex-flow: column wrap;
	}

	.form-row,
	.form-row-content {
		flex-flow: column wrap;
		gap: 0;
	}

	.button-reserve {
		flex-flow: column wrap;
		padding-right: 0;
	}

	.form-group-button .btn-primary {
		width: 100%;
	}

	/* RESPONSIVE CSS MODE MOBILE CONTACT END */
}

/* ANIMATION FOR THE ALL PAGE WEB */

@keyframes fadeInUp {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mobileNav {
	from {
		transform: translateY(-100px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes ScaleInfinite {

	0% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0);
	}

}